body{
	font:'Raleway', sans-serif;
	color:rgba(0,0,0, 0.5);
	text-align: center;
	text-transform: uppercase;
	background: linear-gradient(to right, #02aab0, #00cdac);
	top: 15%;
	letter-spacing: .5em;
}

h1{
	font: 600 3.5em 'Raleway', sans-serif;
	color: rgba(0,0,0, 0.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	width: 100%;
}

h3{
	font: 900 1em 'Raleway', sans-serif;
	color: rgba(0,0,0, 0.5);
	text-align: center;
	letter-spacing: 0.1em;
}