body{
	font-family: 'Montserrat Alternates', sans-serif;
	color:rgba(0,0,0, 0.5);
	text-align: center;
	text-transform: uppercase;
	background: linear-gradient(to right, #02aab0, #00cdac);
	top: 15%;
	letter-spacing: .2em;
	text-transform: capitalize;
}

.color{
	background:#fff;
	border-radius: 10px;
	padding: 20px;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 5px 5px 10px rgba(0,0,0, .5);
}

h1{
	color: rgba(0,0,0, 0.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	width: 100%;
}

h3{
	color: rgba(0,0,0, 0.5);
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: lowercase;
}

.btn{
	font-family: 'Montserrat Alternates', sans-serif;
	background: linear-gradient(to right, #02aab0, #00cdac);
	border: none;
	padding: 8px 16px;
	color: #fff;
	font-size: 20px;
	border-radius: 10px;
	cursor: pointer;
	margin: 10px;
}

.btn:hover{
	transform: translateY(-1px);
	box-shadow: 1px 1px 5px rgba(0,0,0, .5);
}